<ul>
    {% if page.menu == 'objectfs/download' %}<li class="prev active">{% else %}<li class="prev">{% endif %}
        <a href="/download/">Download</a></li>
    {% if page.menu == 'objectfs/tutorials' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/tutorials/">Tutorials</a></li>
    {% if page.menu == 'objectfs/documentation' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/">Documentation</a></li>
    {% if page.menu == 'objectfs/report' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/report/">Report a bug</a></li>
    <li class="next"><a href="/tutorials/extend.html">Extend&nbsp;</a></li>
</ul>

