<ul>
    {% if page.menu == 'objectfs/download' %}<li class="prev active">{% else %}<li class="prev">{% endif %}
        <a href="/download/">Download</a></li>
    {% if page.menu == 'objectfs/introduction' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/learn/">Tutorials</a></li>
    {% if page.menu == 'objectfs/documentation' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/">Documentation</a></li>
    <li><a href="/report/">Report a bug</a></li>
    <li class="next"><a href="/learn/extend.html">Extend&nbsp;</a></li>
</ul>

