<ul class="span4">
    <li><h3>Local pages:</h3></li>
<ul>
    {% if page.menu_id == 'glossary' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/glossary.html">Glossary of terms</a></li>
    {% if page.menu_id == 'architecture' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/architecture.html">Architecture overview</a></li>
    {% if page.menu_id == 'storage-wrapper' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/storage-wrapper.html">Storage wrapper spec</a></li>
    {% if page.menu_id == 'storage-types' %}<li class="active">{% else %}<li>{% endif %}
        <a href="/docs/storage-types.html">Supported storage types</a></li>

</ul>
    <li><h3>Links:</h3></li>
    <!-- Include from docs/index.html: -->
    <li><span>ObjectFS:</span></li>
    <ul>
    <li><a href="https://github.com/emilis/objectfs#readme">ofs, ofs-pkg commands</a></li>
    <li><a href="https://github.com/emilis/objectfs-core#readme">objectfs-core library</a></li>
    </ul>
    <!-- Include from docs/index.html: -->
    <li><a href="http://ringojs.org/">RingoJS</a></li>
    <ul>
        <li><a href="http://ringojs.org/wiki/Modules_and_Scopes">Modules and Scopes</a></li>
        <li><a href="http://ringojs.org/wiki/Globals">Global functions</a></li>
        <li><a href="http://ringojs.org/wiki/Modules_in_RingoJS">Modules in RingoJS</a></li>
        <li><a href="http://ringojs.org/api/v0.8/">Module List / API</a></li>
        <ul>
            <li><a href="http://ringojs.org/api/v0.8/fs/">fs (Filesystem)</a></li>
            <li><a href="http://ringojs.org/api/v0.8/ringo/httpclient/">ringo/httpclient</a></li>
        </ul>
        <li><a href="http://ringojs.org/wiki/Packages">RingoJS Package Registry</a></li>
    </ul>
    <li><a href="http://wiki.commonjs.org/wiki/CommonJS">CommonJS</a></li>
    <ul>
        <li><a href="http://wiki.commonjs.org/wiki/Modules/1.1.1">Modules/1.1.1</a></li>
        <li><a href="http://wiki.commonjs.org/wiki/Packages/1.1">Packages/1.1</a></li>
    </ul>
    <li><a href="https://developer.mozilla.org/en/JavaScript">JavaScript</a></li>
    <ul>
        <li><a href="https://developer.mozilla.org/en/JavaScript/A_re-introduction_to_JavaScript">A (re-)introduction</a></li>
        <li><a href="https://developer.mozilla.org/en/JavaScript/Guide">Guide</a></li>
        <ul>
            <li><a href="https://developer.mozilla.org/en/JavaScript/Guide/Iterators_and_Generators">Iterators and generators</a></li>
            <li><a href="https://developer.mozilla.org/en/JavaScript/Guide/Closures">Closures</a></li>
        </ul>
        <li><a href="https://developer.mozilla.org/en/JavaScript/Reference">Reference</a></li>
    </ul>
    <li><a href="http://download.oracle.com/javase/6/docs/api/index.html">Java™ Platform, Standard Edition 6
        API Specification</a></li>
    <ul>
        <li><a href="http://download.oracle.com/javase/6/docs/api/index.html?java/sql/package-summary.html">java.sql</a></li>
        <li><a href="http://download.oracle.com/javase/6/docs/api/index.html?java/io/package-summary.html">java.io</a></li>
    </ul>
</ul>

