

//@import "bootstrap/bootstrap.less";

// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";

// Styled patterns and elements
@import "bootstrap/type.less";
//@import "bootstrap/forms.less";
@import "bootstrap/tables.less";
@import "bootstrap/patterns.less";

// --- Vars: -----------------------------------------------------------------

@smallFont: 15px;

@menuBlueDark: darken(@blueDark, 10%);
@menuBlueLight: lighten(@blueDark, 10%);

@menuOrangeDark: darken(@orange, 10%);
@menuOrangeLight: lighten(@orange, 10%);

@grayHint: lighten(@gray, 40%);
@yellowHint: lighten(@yellow, 45%);


body {
    background-color: #000;
    background-image: url(images/pattern.png);

    padding-top: 60px;
    height: 100% !important;
    min-height: 100%;

    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
}

li {
    color: #000;
}

table {

    > thead > tr {
        background-color: lighten(@gray, 45%);
        font-size: @smallFont;
        color: @gray;
    }

    > tbody {

        > tr {
    
            &:hover, &:target {
                > td {
                    background-color: @yellowHint;
                    b {
                        color: @blueDark;
                    }
                }
            }

            > td {
                border-width: 1px 0;
                > table > tbody > tr > td {
                    font-size: @smallFont;
                }
            }
        }
    }

    &:hover {
        .box-shadow();
    }
    
    &.highlight {
        border-color: @blue;
        > thead > tr {
            //background-color: @blue;
            .gradientBar(@blue, @blueDark);
            color: #fff;
            > th {
                border: none;
            }
        }
    }

}

// --- Mixins: -----

.dark-block {
    background-color: rgba(0,0,0,0.3);
    background-image: none;
    box-shadow: 0 0 10px #222;
    color: #ccc;
}

.light-block {
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333;
}

.light-block, .page-content, footer {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

// --- Elements: -----

.topbar {
    position: absolute;

    .topbar-inner, .fill {
        .dark-block;
    }

    .nav {
        li {
            //border-right: 1px solid #111;
            a {
                font-size: 15px;
                line-height: 18px;
            }
            &.active a,
            &:hover a {
                background-color: #191918;
            }
        }
    }
}


#logo {

    a {
        display: block;
        font-size: 30px;
        font-weight: bold;
        line-height: 2 * @baseline;
        padding: @baseline 0;
        color: #fff;
        text-shadow: 0 0 80px #ddc;
        text-decoration: none;
    }
}


footer {
    .dark-block;

    border-top: none;
    margin-top: 3 * @baseline;
    padding: @baseline 0;
    bottom: 0;

    color: #ccc;
    p {
        font-size: @smallFont;
    }
}


#main-nav {
    .pagination;
    margin-bottom: 2 * @baseline;
    ul {
        background-color: @menuBlueDark;

        li {
            a { color: #ccf; }

            &.active > a,
            > a:hover {
                background-color: @menuBlueLight;
                color: #fff;
            }
        }
    }

    &.blog ul {
        background-color: @menuOrangeDark;

        li {
            a { color: #fec; }

            &.active > a,
            > a:hover {
                background-color: @menuOrangeLight;
                color: #fff;
            }
        }
    }
}

.note {
    .light-block;
    padding: @baseline;

    h3 {
        line-height: @baseline;
        margin-bottom: @baseline/2;
    }

    ul {
        margin-bottom: @baseline / 2;
    }
}


#anouncement {
    .light-block;
    padding: @baseline;
    background-color: lighten(@yellow, 30%);
    margin-bottom: @baseline;

    pre {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.page {
    padding: @baseline @baseline 4*@baseline 0;
    background: white;
    border-radius: 5px;
}

.page-menu {
    * { 
        list-style: none;
        display: block;
        span, a {
            font-size: 15px;
        }
    }

    li {
        border-bottom: 1px solid #bbb;

        a, span {
            line-height: @baseline - 1;
            padding: 0 @baseline;
        }

        h3 {
            line-height: 2*@baseline - 1;
            padding: 0 @baseline;
        }

        &.active a,
        &.active span,
        a:hover {
            background-color: @grayHint;
        }
    }

    > ul > li {
        font-weight: bold;
    }

    ul ul {
        margin-left: 0;

        ul {
            display: none;
        }
        
        li {
            font-weight: normal;
            a {
                padding: 0 0 0 2*@baseline;
            }
        }
    }

}

#docs-links {
    > li {
        font-weight: bold;
    }
    ul {
        font-weight: normal;
        margin-bottom: @baseline;
    }
    ul ul {
        font-size: 14px;
        margin-bottom: 0;
    }
}

table.doc-functions {

    > tbody {

        > tr {

            > td {

                &:first-child {
                    text-align: right;
                    font-size: @smallFont;
                    color: @grayDark;
                }

                > blockquote {
                    margin-bottom: 0;
                    font-size: @smallFont;
                    color: @gray;
                }
            }

            &:hover {
                > td {
                    color: black;
                    blockquote {
                        color: black;
                    }
                }
            }
        }
    }
}

table.doc-terms {
    > tbody > tr {
        > td:first-child {
            font-weight: bold;
        }

        &:hover, &:target {
            > td:first-child {
                color: @blueDark;
            }
        }
    }
}
