---
layout: objectfs
---
<div class="page">
    <div class="row">
        <div class="page-menu" class="span4">
            {% case page.menu %}
            {% when 'objectfs/download' %}
                {% include menus/objectfs/download.html %}
            {% when 'objectfs/tutorials' %}
                {% include menus/objectfs/tutorials.html %}
            {% when 'objectfs/documentation' %}
                {% include menus/objectfs/documentation.html %}
            {% when 'objectfs/report' %}
                {% include menus/objectfs/report.html %}
            {% else %}
                <div class="span4">&nbsp;</div>
            {% endcase %}
        </div>
        <div class="span9" style="padding-left: 12px;">
            <h1 class="page-title">{{ page.title }}</h1>
            <div class="page-content">{{ page.content }}</div>
        </div>
    </div>
</div>

